@import '../../themed-bootstrap.scss';

.width {
    width: 500px;
}

.orange {
color: $orange;
padding-top: 4px;
padding-left: 8px;
}

.orangeColor {
    color: $orange;
}

.green {
    color: rgb(138, 226, 5);
}

.ordered {
    background-color: $orange;
    padding-top: 4px;
    padding-left: 8px;
    color: #000;
}

.x {
    font-size: 22px;
  }