@import '../../themed-bootstrap.scss';
.btn {
    border-radius: 20px;
    background-color: $orange;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #000;
    margin: 20px;
    font-size: 18px;
    z-index: 999;
    &:hover{
        color: $orange;
    }
}