@import '../../themed-bootstrap.scss';

.width {
    width: 500px;
}

.orange {
color: $orange;
padding-top: 4px;
padding-left: 8px;
}

.green {
    color: rgb(138, 226, 5);
}

.ordered1 {
    // background-color: $orange;
    padding-top: 4px;
    padding-left: 8px;
    color:#e1931e80
}

.ordered2 {
    color: rgba(255, 255, 255, 0.5);
}

.price:before {
    content: '';
    position: absolute;
    bottom: 0.2rem;
    width: 100%;
    height: 0;
    border-bottom: 2px dotted;
  }