@import "../../themed-bootstrap.scss";

.width {
  width: 500px;
}

.orange {
  color: $orange;
  padding-top: 4px;
  padding-left: 8px;
}

.pointer {
  cursor: pointer;
  padding: 10px 20px;
  &:active {
    color: rgba(255, 255, 255, 0.5);
  }
  &:active div h4 {
    color: #e1931e80;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.filter {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  &:hover {
    border: none;
    color: $orange;
  }
}
