@import '../../themed-bootstrap.scss';

.branch {
    @media (min-width:576px) {
        padding: 30px 50px; 
    }
    margin-top: 20px;
    border-bottom: 1px groove #fff;
    color: #fff;
}

.fz {
    font-size: 20px;

}

.orange {
    color: $orange;
}