@import '../../themed-bootstrap.scss';

.branch {
    padding: 30px 50px;
    margin-top: 20px;
    // background-color: $orange;
    border-bottom: 1px groove #fff;
    // border-radius: $radius;
    color: #fff;
}

.fz {
    font-size: 20px;

}

.orange {
    color: $orange;
}