@import "../../themed-bootstrap.scss";

.btn {
  background-color: $orange;
}

.dFlex {
  background-color: $orange;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.giftBtn {
  flex-direction: column;
  width: 137px;
  height: 137px;
  border: solid 1.5px #fff;
  transform: rotate(-10deg);
  cursor: pointer;
  &:hover {
    color: #000;
    border: solid 1.5px #000;
  }
  @media (max-width: 576px) {
    width: 100px;
    height: 100px;
  }
}

.orange {
  background-color: $orange;
  border-radius: $radius;
  color: #fff;
  font-size: 35px;
}

.x {
  font-size: 22px;
}

.textArea {
  resize: none;
}

.width {
  border-radius: $radius 0px 0px $radius;
  @media (max-width: 576px) {
    width: 95%;
    display: block;
    margin-top: 15px;
    border-radius: 0px 0px $radius $radius;
  }
}

.sumWidth {
  width: 50px;
}

.orangeBorder {
  position: fixed;
  top: 5vh;
  border: none;
  width: 150px;
  height: 150px;
  @media (max-width: 576px) {
    width: 110px;
    height: 110px;
    top: 10vh;
    right: 12vw;
  }
}

.mt {
  margin-top: -20px;
  font-size: 14px;
  color: #f00;
}